<h2>Hi there!</h2>

Thanks for signing up on Super Rad Nerdy Planeswalkr, <%= @user.full_name %>.

We look forward to you winning the world championships soon.


And giving us all the credit. Have fun.

Regards,
<b>Hogwarts School of Wizardry and Witchcraft</b>
