<h1><%= @cardset.name %></h1>

<ul class="col s12 card-images">
  <% @cards.each do |card| %>
    <li class="responsive-img">
        <%= image_tag(card.image_url) %>
    </li>
  <% end %>
</ul>

<div class="">
  <%= paginate @cards %>
</div>
