@import "materialize";

.sidebar-top {
  display: inline-block;
//  vertical-align: top;
	padding-left: 50px;
	margin-right: 2%;
	width: 20%;
}

.menu-sidebar {
	background-color: white;
	border: 2px solid #ecf0f1;
	height: 100vh;
	padding: 10px;

}

.menu-items {
	color: #019FCE;
}

.card-images ul {
  display: inline-block;
  width: 70%;
}

.card-images li {
  display: inline-block;
}

.responsive-img img {
	width: 300px;
	margin: 30px;
	margin-bottom: 15px;
	-webkit-padding-start: 10px;
}

.content {
  display: inline-block;
  vertical-align: top;
  width: 70%;
}

.pagination {
    position: absolute;
    bottom: 0;
}